.custom-pagination .ant-pagination-item-active {
    background-color: #F08080 !important;
    border-color: pink !important;
  }
  .custom-pagination .ant-pagination-item-active a {
    color: white !important;
  }