.sidebar {
  .ant-menu-submenu-title {
    color: inherit !important;
  }
  .ant-menu {
    background: #313857 !important;
  }
  .ant-menu-item-selected {
    background: #edbabc !important;
    background: #bb7b85 !important;
  }
  .ant-layout-sider-trigger {
    background: #415d6f !important;
  }
}
